<div class="container" style="width: 800px;">
    <h2>Title of the video</h2>
    <vg-player (onPlayerReady)="onPlayerReady($event)">
        <vg-overlay-play></vg-overlay-play>
    <vg-buffering vgFor="singleVideo"></vg-buffering>
    <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>
    <vg-controls>
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>
        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
        <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
        <vg-track-selector></vg-track-selector>
        <vg-mute></vg-mute>
        <vg-volume></vg-volume>
        <vg-fullscreen></vg-fullscreen>
    </vg-controls>
    <video [vgMedia]="$any(media)"
            #media id = "singleVideo"
            preload="auto"
            src="assets/5 Amazing Facts About Vivaldi ｜ History Brought To Life.mp4"
            crossorigin>
    </video>
    </vg-player>
    <div class="description">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem magnam vitae ipsa ipsam fugiat a error aut ab impedit voluptates non consequuntur animi labore consequatur sequi, aperiam id eligendi dolores?
        </p>
    </div>
</div>